/* General Styles */

* {
  margin: 0;
}

body, html {
  height: 100%;
  width: 100%;
}

body {
  background: #ffffff;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-align: left;
  color: #222222;
}

a, a:visited {
  color: #14BDD1;
  text-decoration: none;
  cursor: pointer !important;
}

a:hover {
  color: #222222;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}


/* Header */

header {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  background: #ffffff;
  border-bottom: 1px solid rgba(0,0,0,.25);
}

#inner-wrapper {
  width: 940px;
  margin: 0 auto;
  text-align: center;
}

#logo {
  padding-top: 25px;
}

h1 {
  width: 50px;
  background: #14BDD1;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  line-height: 50px;
  border-radius: 50px;
  margin-right: 15px;
  display: inline-block;
}

h2 {
  font-size: 24px;
  line-height: 50px;
  color: #222222;
  display: inline-block;
}


/* Content */

#content {
  width: 940px;
  margin: 100px auto 0px auto;
}

.project {
  width: 220px;
  height: 180px;
  background: #cccccc;
  color: #ffffff;
  text-align: center;
  line-height: 100px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

  .project img {
    height: 100%;
  }

  .project:hover {
    opacity: .65;
  }

  .last {
    margin-right: 0px;
  }