.header_style {
background: black;
}

.nav_background {
	background: black;
	height: 3%;
}

p {
	font-family: cursive;
	color: #00FFFF;
	font-size: 36px;
	text-decoration: line-through;
	text-align: center;
}

.logo {
}

.navigation ul {
	text-align: center;
}

.navigation li {
	display: inline;

}

.navigation a {
	color:white;
	padding: 0 50px 0 50px;
	margin: auto;
	text-decoration: none;
}

.navigation a:hover {
	color: #00FFFF;
}

.navigation a:active {
	color: #00FFFF;
}

.active {
	color: #00FFFF;
}

body {
	background: url(http://www.theterryburginbluesband.com/images/blue-3.jpg);
}

h1 {
	font-family: Brush Script MT;
	color: black;
	text-align: center;
}

.wrapper {
	width: 960px;
	background: url(https://luckydesignlady.files.wordpress.com/2014/09/repeatingpattern-rfriesen.png);
	margin: 0 auto;
	box-shadow: 0px 0px 30px;
}

.images { 	
	width: 960px;
	background: url(https://luckydesignlady.files.wordpress.com/2014/09/repeatingpattern-rfriesen.png);
	margin: 0 auto;
	box-shadow: 0px 0px 30px;
}

table {
	margin: auto;
}
table img {
	width: 250px;
	height: 250px;
	box-shadow: 0px 0px 5px;
}